openapi: 3.1.0
info:
  version: ''
  title: 对话式智能体 API 概述
  description: |-
    本文介绍声网对话式智能体服务 RESTful API 的基本信息。

    ## 数据格式

    所有 HTTP 请求头部的 Content-Type 类型为 `application/json`。所有请求和响应内容的格式均为 JSON。
servers:
  - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
    description: ''
paths:
  '/v2/projects/{appid}/join':
    post:
      # tags:
      #   - 智能体管理
      summary: 创建对话式智能体
      description: 创建一个对话式智能体(Conversational AI agent)实例，并加入一个 RTC 频道。
      operationId: start-agent
      parameters:
        - $ref: '#/components/parameters/appid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - properties
              properties:
                name:
                  type: string
                  description: 智能体唯一标识，相同标识不可重复创建。
                properties:
                  type: object
                  description: 智能体详细配置。
                  required:
                    - channel
                    - agent_rtc_uid
                    - remote_rtc_uids
                    - tts
                    - llm
                  properties:
                    channel:
                      type: string
                      description: 智能体加入的 RTC 频道名。
                    token:
                      type: string
                      description: '加入 RTC 频道使用的 Token，即用于鉴权的动态密钥（Token）。如果你的项目已启用 App 证书，则务必在该字段中传入你项目的动态密钥。详见[使用 Token 鉴权](https://doc.shengwang.cn/doc/rtc/android/basic-features/token-authentication)。'
                    agent_rtc_uid:
                      type: string
                      description: 智能体在 RTC 频道内的用户 ID。填 `"0"` 时表示随机分配，但 Token 需要相应修改。
                    remote_rtc_uids:
                      type: array
                      description: '智能体在 RTC 频道中订阅的用户 ID 列表，只有订阅的用户才能与智能体互动。目前只支持订阅一个用户 ID。 '
                      items:
                        type: string
                    agent_rtm_uid:
                      type: string
                      description: |-
                        > 该字段已废弃，请参考 [FAQ](https://doc.shengwang.cn/faq/integration-issues/generate-token) 生成同时具备 RTC 和 RTM 权限的 Token，之后改用 `token` 字段。

                        智能体在 RTM 频道内的用户 ID。仅在 `advanced_features.enable_rtm` 为 `true` 时生效。
                    enable_string_uid:
                      type: boolean
                      default: false
                      description: |
                        是否启用 String UID：
                        - `true`：智能体和订阅用户 ID 均使用 String UID。
                        - `false`：（默认）智能体和订阅用户 ID 均使用 Int UID。
                        > 同一频道内，Int 型和 String 型的用户 ID 不可混用。更多使用 String UID 的相关信息请参考[如何使用 String 型用户 ID](https://doc.shengwang.cn/faq/integration-issues/string-uid)。
                    idle_timeout:
                      type: integer
                      description: RTC 频道的最大空闲时间 (s)。检测到 `remote_rtc_uids` 中指定的用户全部离开频道后的时间视为频道空闲时间，超过设定的最大值时，频道的智能体将自动停止并退出频道。如果填写为 `0`，则直到手动退出，智能体才会停止。
                      default: 30
                    silence_timeout:
                      type: integer
                      default: 0
                      description: |-
                        > 该字段已废弃，请改用 `parameters.silence_config`。

                        智能体最大静默时间 (s)，取值范围为 [0,60]。智能体创建成功，且用户加入频道后，智能体不处于倾听、思考或说话状态的持续时间称为智能体静默时间。静默时间达到设定值后，智能体将播报 `llm.silence_message` 中填写的静默提示消息，之后重新计算静默时间。
                        - 设置为 `0`（默认值）：表示不启用该功能。
                        - 设置为 (0,60] 时，必需同时设置 `llm.silence_message` 才能正常播报静默提示消息，否则设置无效。
                    advanced_features:
                      type: object
                      description: 高级功能配置。
                      properties:
                        enable_aivad:
                          type: boolean
                          default: false
                          description: |-
                            > 该字段已废弃，请改用 `turn_detection.config.end_of_speech.mode.semantic` 实现。
                        enable_rtm:
                          type: boolean
                          description: |-
                            是否启用实时消息 RTM 服务。启用后智能体会自动登录 RTM 并订阅 `channel` 中指定的频道，可结合 RTM 提供的能力实现一些进阶功能，例如[传递自定义信息](https://doc.shengwang.cn/doc/convoai/restful/user-guides/custom-data)。

                            > 启用 RTM 服务前需要确保 Token 同时具备 RTC 和 RTM 权限。智能体加入 RTM 频道会复用 `token` 字段配置的 Token。你可以参考 [FAQ](https://doc.shengwang.cn/faq/integration-issues/generate-token) 了解如何生成同时具备 RTC 和 RTM 权限的 Token。
                          default: false
                        enable_sal:
                          type: boolean
                          description: |-
                            是否启用选择性注意力锁定（Selective Attention Locking, SAL）功能。启用后，在 `sal` 字段中完成相关设置，智能体即可识别用户的声纹特征，有效区分不同说话者，屏蔽 95% 的环境人声、噪声。
                            > 该功能目前处于 Beta 阶段。
                          default: false
                        enable_tools:
                          type: boolean
                          description: |-
                            是否启用工具调用功能。启用后，智能体可以调用 MCP 服务器提供的工具，实现更复杂的业务逻辑。
                          default: false
                    asr:
                      type: object
                      description: 自动语音识别 (ASR) 配置。
                      properties:
                        language:
                          type: string
                          description: "用户与智能体互动时使用的语言：\r\n- `zh-CN`：中文（支持中英文混合）\r\n- `en-US`：英语"
                          default: zh-CN
                        vendor:
                          type: string
                          description: |-
                            ASR 服务供应商，可选以下值：
                            - `fengming`：（默认）声网凤鸣 ASR。
                            - `tencent`：腾讯 ASR。
                            - `microsoft`：微软 ASR。
                            - `xfyun`：讯飞云传统语音转写识别服务。
                            - `xfyun_bigmodel`：讯飞云语音识别大模型服务。
                            - `xfyun_dialect`：讯飞云方言自由说识别服务。
                        params:
                          $ref: '#/components/schemas/asr_params'
                          description: |
                            指定 ASR 供应商的配置参数。
                            > 你可以参考调用示例中不同 ASR 供应商的参数填写样例。
                    tts:
                      type: object
                      description: 文本转语音 (TTS) 模块配置。
                      required:
                        - vendor
                        - params
                      properties:
                        vendor:
                          type: string
                          description: |
                            TTS 供应商，支持传入以下值：
                            - `minimax`：Minimax TTS
                            - `tencent`：腾讯 TTS
                            - `bytedance`：火山引擎 TTS
                            - `microsoft`：微软 Azure TTS
                            - `cosyvoice`：阿里云 CosyVoice TTS
                            - `bytedance_duplex`：火山引擎双向流式 TTS
                            - `stepfun`：阶跃星辰 TTS
                        skip_patterns:
                          type: array
                          description: |
                            过滤模式配置，用于控制是否跳过 LLM 返回文本中括号内的内容，避免智能体播报不必要的结构性提示信息如语气、动作描述等。默认值为 `[]`，即不过滤任何内容。可选值如下，传入即启用该功能：
                            
                            - `1`：跳过中文圆括号（ ）中的内容
                            - `2`：跳过中文方括号【 】中的内容
                            - `3`：跳过英文圆括号 ( ) 中的内容
                            - `4`：跳过英文方括号 [ ] 中的内容
                            - `5`：跳过英文花括号 \{ } 中的内容

                            > - 当输入文本中存在嵌套括号，且多种括号类型都被配置为跳过时，智能体只处理最外层括号，即系统将从文本的起始位置开始匹配，一旦找到第一个符合跳过规则的最外层括号对，该括号对及其包含的所有内容（包括任何嵌套的其他类型括号）都将被整体跳过。
                            > - 无论是否打开[实时字幕](https://doc.shengwang.cn/doc/convoai/restful/user-guides/realtime-sub)，智能体短期记忆都会包含被过滤的内容，即 LLM 生成的完整文本。
                            > - 开启[实时字幕](https://doc.shengwang.cn/doc/convoai/restful/user-guides/realtime-sub)时，实时字幕在 TTS 播报时不会包含被过滤的内容，等这句话播报完毕后，字幕会把这些内容添加回来。
                            > - 火山引擎双向流式 TTS 暂不支持该功能。
                          items:
                            type: integer
                          default: []
                        params:
                          $ref: '#/components/schemas/tts_params'
                          description: |
                            指定 TTS 供应商的配置参数。
                            > 你可以参考调用示例中不同 TTS 供应商的参数填写样例。
                    llm:
                      type: object
                      description: 大语言模型 (LLM) 配置。
                      required:
                        - url
                      properties:
                        url:
                          type: string
                          description: LLM 回调地址，要求与 OpenAI 协议兼容。
                        api_key:
                          type: string
                          description: LLM 校验 api key。默认为空，生产环境中务必启用 api key。
                        system_messages:
                          type: array
                          description: 一组每次调用 LLM 时被附加在最前的预定义信息，用于控制 LLM 输出。可以是角色设定、提示词和回答样例等。要求与 OpenAI 协议兼容。
                          items:
                            type: object
                            additionalProperties: {}
                        params:
                          type: object
                          
                          description: 在消息体内传输的 LLM 附加信息，例如使用的模型、最大 Token 数限制等。不同的 LLM 供应商支持的配置不同，请参考对应文档按需填入。
                          additionalProperties: {}
                        max_history:
                          $ref: '#/components/schemas/max_history'
                        input_modalities:
                          type: array
                          
                          description: "LLM 的输入模态，支持：\r\n- `[\"text\"]`：（默认）仅文字。\r\n- `[\"text\", \"image\"]`：文字加图片，要求所选 LLM 支持视觉模态输入。"
                          items:
                            type: string
                            default: text
                        output_modalities:
                          type: array
                          
                          description: "LLM 的输出模态，支持：\r\n- `[\"text\"]`：（默认）仅文字。输出的文字会经过 TTS 模块转换成语音后发布至 RTC 频道。\r\n- `[\"audio\"]`：仅语音。语音会直接发布至 RTC 频道。\r\n- `[\"text\", \"audio\"]`：文字加语音。你可以自行编写逻辑，按需处理 LLM 的输出。"
                          items:
                            type: string
                        greeting_message:
                          type: string
                          description: 智能体问候语。如果填写，则在频道内没有订阅用户列表 (`remote_rtc_uids`) 中的用户时，智能体会自动向首位加入频道的订阅用户发送问候语。
                          
                        greeting_configs:
                          type: object
                          description: |
                            智能体问候语播报配置。
                          properties:
                            mode:
                              type: string
                              description: |
                                智能体问候语播报模式，支持以下选项：
                                - `"single_every"`：（默认）每次有用户加入空频道时，智能体都播报一次问候语。
                                - `"single_first"`：仅首位用户加入空频道时，智能体播报一次问候语。
                        failure_message:
                          type: string
                          description: 智能体处理失败提示语。如果填写，则在 LLM 调用错误时会通过 TTS 模块返回。
                        silence_message:
                          type: string
                          
                          description: |-
                            > 该字段已废弃，请改用 `parameters.silence_config`。

                            静默提示消息。默认为空字符串。智能体创建成功，且用户加入频道后，智能体不处于倾听、思考或说话状态的持续时间称为智能体静默时间。静默时间达到 `silence_timeout` 中设定的值后，智能体将播报静默提示消息。`silence_timeout` 设置为 `0` 时，该参数无效。
                        # style:
                        #   type: string
                        #   description: "LLM 协议，支持以下值：\r\n- `\"openai\"`（默认）\r\n- `\"dify\"`\r\n- `\"gemini\"`\r\n- `\"anthropic\"`"
                        vendor:
                          type: string
                          
                          description: |-
                            LLM 供应商，支持以下两种设置：
                            - 商业大模型供应商，支持以下值：
                              - `aliyun`：阿里云
                              - `bytedance`：字节跳动
                              - `deepseek`：深度求索
                              - `tencent`：腾讯

                              设置后，将保证最大兼容性，避免因携带了 LLM 不支持的信息导致请求失败。
                            - 自定义 LLM，即设为 `"custom"`。设置后智能体调用 custom LLM 时，除了 `role` 和 `content` 外，将额外携带以下信息：
                              - `turn_id`：唯一的对话轮次标识符。`turn_id` 从 0 开始递增，用户和智能体的一轮对话对应一个 `turn_id`。
                              - `timestamp`：请求时间戳，精度为毫秒。
                        mcp_servers:
                          type: array
                          description: MCP (Model Context Protocol) 服务器配置列表。通过配置 MCP 服务器，智能体可以调用外部服务提供的工具，实现更复杂的业务逻辑。
                          items:
                            type: object
                            required:
                              - name
                              - endpoint
                            properties:
                              name:
                                type: string
                                description: |
                                  MCP 服务器的唯一标识。长度不超过 48 字符，支持以下字符：
                                  - 所有小写英文字母：a 到 z
                                  - 所有大写英文字母：A 到 Z
                                  - 所有数字字符：0 到 9
                                  - "." 和 "-"
                              endpoint:
                                type: string
                                description: MCP 服务器的端点地址，智能体将通过该地址与 MCP 服务器通信。
                              transport:
                                type: string
                                description: |
                                  传输协议类型，支持传入以下值：
                                  - `"streamable_http"`：流式 HTTP 协议
                              headers:
                                type: object
                                description: 请求 MCP 服务器时携带的 HTTP 头部信息，例如认证信息。
                                additionalProperties:
                                  type: string
                              allowed_tools:
                                type: array
                                description: |
                                  允许智能体调用的工具列表。只有在此列表中的工具才能被智能体使用。
                                  > `allowed_tools` 字段生效规则:
                                  > - 不填写 `allowed_tools` 字段：所有工具都生效
                                  > - 填写 `allowed_tools` 字段：
                                  >    - 填写为 `[]`：所有工具不生效
                                  >    - 填写为 `["*"]`：所有工具生效
                                  >    - 填写为 `["aa", "bb", "cc"]`：`aa`、`bb`、`cc` 生效
                                  >    - 填写为 `["aa", "bb", "*"]`：所有工具生效
                                items:
                                  type: string
                              timeout_ms:
                                type: integer
                                description: MCP 服务器请求超时时间，单位为毫秒。请求超时后，智能体将不会等待 MCP 服务器响应，而是继续执行后续逻辑。
                                default: 10000
                        template_variables:
                          type: object
                          description: |-
                            动态参数配置，用于在智能体的 `system_messages`、`greeting_message`、`failure_message` 和 `parameters.silence_config.content` 文本中插入变量。键值对形式，键为变量名，值为变量值。
                            
                            **使用方式**:在 Prompt 文本中使用 `{{variable_name}}` 格式引用变量，系统会自动将其替换为 `template_variables` 中定义的对应值。
                            > 注意：变量名和变量值不支持引用其他变量。例如自定义变量 `"farewell": "期待下次再见，{{name}}"`，其中的 `{{name}}` 不会被解析。
                          additionalProperties:
                            type: string
                    avatar:
                      type: object
                      description: 数字人 (Avatar) 配置。
                      properties:
                        enable:
                          type: boolean
                          description: |
                            是否为智能体启用数字人功能：
                            - `true`：启用。启用后需配置 `vendor` 和 `params` 字段。
                            - `false`：（默认）不启用。

                            > 开启数字人功能将产生 RTC 视频通话费用，详见 [RTC 计费说明](https://doc.shengwang.cn/doc/rtc/android/billing/billing-strategy)。
                        vendor:
                          type: string
                          description: |
                            数字人供应商，支持传入以下值：
                            - `sensetime`：商汤数字人
                        params:
                          $ref: '#/components/schemas/avatar_params'
                          description: |
                            指定数字人供应商的配置参数。
                            > 你可以参考调用示例中不同数字人供应商的参数填写样例。
                    # vad:
                    #   type: object
                    #   description: |-
                    #     语音活动检测 (VAD) 配置。
                    #     > 该字段已废弃，请改用 `turn_detection` 字段。
                      # properties:
                      #   interrupt_duration_ms:
                      #     type: integer
                      #     default: 160
                      #     description: '人声持续阈值 (ms)，取值范围为 [120, 1200]。持续检测到人声信号的最小时间长度，避免误打断。'
                      #   prefix_padding_ms:
                      #     type: integer
                      #     description: '前缀填充阈值 (ms)，取值范围为 [0, 5000]。开始新的语音片段所需的最短语音持续时间，避免非常短的声音触发语音活动检测。'
                      #     default: 800
                      #   silence_duration_ms:
                      #     type: integer
                      #     description: '静音持续阈值 (ms)，取值范围为 [0, 2000]。语音结束时的最短静音持续时间，确保短暂的停顿不会过早结束语音片段。'
                      #     default: 480
                      #   threshold:
                      #     type: number
                      #     description: '语音识别灵敏度，取值范围为 (0.0,1.0)。决定音频信号中何种程度的声音被视为"语音活动"。较低的值会使智能体更容易检测到语音，较高的值则可能忽略微弱声音。'
                      #     format: float
                      #     default: 0.5
                    turn_detection:
                      type: object
                      # description: 对话轮次检测设置，主要包括语音活动检测和智能体打断逻辑的相关设置。
                      # properties:
                      #   interrupt_mode:
                      #     type: string
                      #     description: |-
                      #       智能体交互（说话或思考）时，人声打断智能体行为的模式，支持设为以下值：
                      #        - `"interrupt"`：（默认）打断模式，人声立即打断智能体交互。智能体会终止当前交互，直接处理人声输入。
                      #        - `"append"`: 追加模式，人声不打断智能体。智能体会在当前交互结束后处理刚才收到的人声请求。
                      #        - `"ignore"`: 忽略模式，智能体忽略人声请求。如果智能体正在说话或思考中途收到人声，智能体会直接忽略并丢弃人声请求，不存入上下文。"
                      #        - `"keywords"`: 关键词打断模式，智能体根据关键词打断智能体行为，需要在 `interrrupt_keywords` 字段中设置打断关键词。
                      #        - `"adaptive"`: 自适应打断模式，该模式将自动调整打断相关参数，有效避免智能体说话时被较短人声误打断。
                            
                      #       > 关键词打断模式与优雅打断功能 (`advanced_features.enable_aivad`) 互斥，不可同时开启。
                      #   interrupt_keywords:
                      #     type: array
                      #     description: |-
                      #       打断关键词列表，智能体听到列表中的关键词后会打断智能体当前行为。该字段仅在 `interrupt_mode` 设为 `keywords` 时生效。
                      #       > - 关键词的识别能力（例如能否识别多语种词语或方言）与你所选择的 ASR 供应商有关。
                      #       > - 支持设置最多 128 个关键词。
                      #   interrupt_duration_ms:
                      #     type: integer
                      #     default: 160
                      #     description: '人声持续阈值 (ms)，取值范围为 [120, 1200]。持续检测到人声信号的最小时间长度，避免误打断。'
                      #   prefix_padding_ms:
                      #     type: integer
                      #     description: '前缀填充阈值 (ms)，取值范围为 [0, 5000]。开始新的语音片段所需的最短语音持续时间，避免非常短的声音触发语音活动检测。'
                      #     default: 800
                      #   silence_duration_ms:
                      #     type: integer
                      #     description: '静音持续阈值 (ms)，取值范围为 [0, 2000]。语音结束时的最短静音持续时间，确保短暂的停顿不会过早结束语音片段。'
                      #     default: 480
                      #   threshold:
                      #     type: number
                      #     description: '语音识别灵敏度，取值范围为 (0.0,1.0)。决定音频信号中何种程度的声音被视为"语音活动"。较低的值会使智能体更容易检测到语音，较高的值则可能忽略微弱声音。'
                      #     format: float
                      #     default: 0.5
                      description: |-
                        对话轮次检测设置，用于控制语音活动检测和对话轮次判定逻辑。
                        
                         该配置支持多种检测模式组合：
                         - **Start of Speech (SoS)**：支持 VAD、关键词、禁用三种模式。
                         - **End of Speech (EoS)**：支持 VAD 和语义两种模式。
                      properties:
                        mode:
                          type: string
                          
                          description: |-
                            对话轮次检测模式，当前支持以下值：
                            - `"default"`：（默认）默认模式，使用标准的对话轮次检测配置。
                          enum:
                            - default
                          default: default
                        config:
                          type: object
                          
                          description: 对话轮次检测详细配置。
                          properties:
                            speech_threshold:
                              type: number
                              description: 语音识别灵敏度，取值范围为 (0.0, 1.0)。决定音频信号中何种程度的声音被视为"语音活动"。较低的值会使智能体更容易检测到语音，较高的值则可能忽略微弱声音。
                              format: float
                              default: 0.5
                            start_of_speech:
                              type: object
                              description: 对话开始 (Start of Speech, SoS) 检测配置，用于判定用户何时开始说话。
                              properties:
                                mode:
                                  type: string
                                  description: |-
                                    对话开始检测模式，支持以下值：
                                    - `"vad"`：基于 VAD（语音活动检测）触发，使用音频信号检测。
                                    - `"keywords"`：（Beta）基于关键词触发，智能体听到指定关键词后触发对话开始。
                                    - `"disabled"`：禁用对话开始检测，不主动触发打断。
                                '{mode}_config':
                                  $ref: '#/components/schemas/start_of_speech_config'
                                  description: |
                                    对话开始检测配置参数。根据 `mode` 传入对应的配置字段
                            end_of_speech:
                              type: object
                              description: 对话结束 (End of Speech, EoS) 检测配置，用于判定用户何时结束说话。
                              properties:
                                mode:
                                  type: string
                                  description: |-
                                    对话结束检测模式，支持以下值：
                                    - `"vad"`：基于 VAD（语音活动检测）触发，检测静音持续时间。
                                    - `"semantic"`：基于语义触发，使用语义理解模块判定对话结束。
                                '{mode}_config':
                                  $ref: '#/components/schemas/end_of_speech_config'
                                  description: |
                                    对话结束检测配置参数。根据 `mode` 传入对应的配置字段。
                    sal:
                      type: object
                      description: |-
                        选择性注意力锁定（Selective Attention Locking, SAL）配置。
                        > 该功能目前处于 Beta 阶段。
                      properties:
                        sal_mode: 
                          type: string
                          description: |-
                            选择性注意力锁定模式，支持以下选项：
                            - `"locking"`：（默认）主讲人锁定模式。智能体锁定主讲人，屏蔽 95% 的环境人声、噪声。该模式可通过两种方式启用：
                              - 无感识别：用户在对话初期大声、清晰地说话，智能体即可自动将用户识别为主讲人。
                              - 预注册：创建智能体时，通过 `sample_urls` 字段预注册一名主讲人的声纹 URL，智能体将根据预注册的声纹 URL 锁定主讲人。
                            - `"recognition"`：声纹识别模式。你可以通过 `sample_urls` 字段预注册声纹 URL，目前仅支持单声纹注册。智能体将识别不同的说话人并抑制其他背景人声和环境噪音。识别到的说话人身份会通过 `metadata` 字段里的 `vpids` 字段标识并发送给 LLM，你需要将 `llm.vendor` 设置为 `"custom"`，并参考[自定义大模型](/doc/convoai/restful/user-guides/custom-llm)了解如何让 LLM 处理说话人信息。
                          default: "locking"
                        sample_urls:
                          type: object
                          description: |-
                            注册声纹 URL，为键值对形式，键为注册的声纹名称，值为对应说话者的声纹 URL 下载地址。
                            > - 传入的声纹名称不可设置为 `"unknown"`，这是一个保留关键字，用于标识未知说话人。
                            > - 对于注册的声纹，需满足以下条件：
                            >   - 数量: 每个任务请求的注册声纹URL数量，目前仅支持单声纹，数量为 1 个。
                            >   - 大小: 单个声纹文件不得超过 2 MB。
                            >   - 时长：时长为 10 到 15 秒, 其中有效音频不小于 8 秒（不能有太多静音段）。
                            >   - 格式: 必须为 16k 采样率、16bit 位深、单声道的 PCM 音频文件，文件名后缀必须为 `.pcm`。
                    labels:
                      type: object
                      description: |-
                        自定义标签，键值对形式，键为标签名，值为标签值。用于让智能体携带自定义业务信息。
                        
                        这些自定义信息会与智能体绑定，并在对话式 AI 引擎所有类型消息通知回调的 `payload` 字段中返回，可用于实现自定义业务逻辑，例如标记活动 ID、客户分组、业务场景等。
                      additionalProperties:
                        type: string
                    rtc:
                      type: object
                      description: RTC 媒体内容加密配置。
                      properties:
                        encryption_key:
                          type: string
                          description: |-
                            字符串类型的加密密钥，长度不受限制。声网建议使用 32 字节的密钥。
                            > 如果未设置加密密钥或将其设置为空，则无法使用内置加密。
                        encryption_salt:
                          type: string
                          description: |-
                            用于加密的盐值，Base64 编码的字符串，解码后长度为 32 字节。
                            > 该参数仅在 `encryption_mode` 设为 `7`（AES_128_GCM2）或 `8`（AES_256_GCM2）时生效。在此情况下，请确保该参数不为空。
                        encryption_mode:
                          type: integer
                          description: |-
                            内置加密模式，支持以下值：
                            - `1`: AES_128_XTS - 128 位 AES 加密，XTS 模式。
                            - `2`: AES_128_ECB - 128 位 AES 加密，ECB 模式。
                            - `3`: AES_256_XTS - 256 位 AES 加密，XTS 模式。
                            - `4`: SM4_128_ECB - 128 位 SM4 加密，ECB 模式。
                            - `5`: AES_128_GCM - 128 位 AES 加密，GCM 模式。
                            - `6`: AES_256_GCM - 256 位 AES 加密，GCM 模式。
                            - `7`: AES_128_GCM2 - 128 位 AES 加密，GCM 模式。该模式需设置 salt（`encryption_salt`）。
                            - `8`: AES_256_GCM2 - 256 位 AES 加密，GCM 模式。该模式需设置 salt（`encryption_salt`）。
                            
                            > 声网建议使用 `7`（AES_128_GCM2）或 `8`（AES_256_GCM2）模式，这两种模式支持使用加密盐以提升安全性。
                    filler_words:
                      type: object
                      description: |-
                        垫词功能 (Beta) 配置，用于在 LLM 响应等待时播报垫词，缓解用户等待焦虑，提升对话流畅度。
                        
                        垫词播报遵循以下规则：
                        - **播报顺序**：当多个垫词或 LLM 响应等待播报时，按照文本到达的先后顺序进行播报。
                        - **打断控制**：继承全局配置中的打断模式设置 (`turn_detection.config`)。
                      properties:
                        enable:
                          type: boolean
                          description: |-
                            是否启用垫词功能：
                            - `true`：启用。
                            - `false`：（默认）不启用。
                          default: false
                        trigger:
                          type: object
                          description: 垫词触发配置，定义何时触发垫词播报。
                          properties:
                            mode:
                              type: string
                              description: |-
                                垫词触发模式，支持以下值：
                                - `"fixed_time"`：固定时间触发。当 LLM 响应等待时间超过设定阈值时触发垫词播报。
                            '{mode}_config':
                              $ref: '#/components/schemas/filler_words_trigger_config'
                              description: |
                                垫词触发配置参数。根据 `mode` 选择对应的配置。
                        content:
                          type: object
                          description: 垫词内容配置，定义垫词的来源和选择规则。
                          properties:
                            mode:
                              type: string
                              description: |-
                                垫词内容模式，支持以下值：
                                - `"static"`：静态垫词。使用预定义的垫词列表。
                            '{mode}_config':
                              $ref: '#/components/schemas/filler_words_content_config'
                              description: |
                                垫词内容配置参数。根据 `mode` 选择对应的配置。
                    parameters:
                      type: object
                      description: 智能体参数配置。
                      properties:
                        silence_config:
                          type: object
                          
                          description: 智能体静默设置。
                          properties:
                            timeout_ms:
                              type: integer
                              description: "智能体最大静默时间 (ms)，取值范围为 [0,60000]。智能体创建成功，且用户加入频道后，智能体不处于倾听、思考或说话状态的持续时间称为智能体静默时间。静默时间达到设定值后，智能体将播报静默提示消息。该功能可用于在用户不活跃时让智能体提醒用户。\r\n- 设置为 `0`（默认值）：表示不启用该功能。\r\n- 设置为 `(0,60000]` 时，必需同时设置 `content` 才能正常播报静默提示，否则设置无效。"
                            action:
                              type: string
                              description: "静默时间达到设定值后，智能体采取的行为，可设为以下值：\r\n- `\"speak\"`：（默认）使用 TTS 模块播报静默提示内容 (`content`)。\r\n- `\"think\"`：将静默提示内容 (`content`) 追加在上下文的最后，并传递给 LLM。"
                            content:
                              type: string
                              description: 静默提示消息的内容。设置的内容会根据 `action` 中的设置以不同的方式使用。
                        farewell_config:
                          type: object
                          description: 智能体优雅挂断设置。
                          properties:
                            graceful_enabled:
                              type: boolean
                              description: |-
                                是否启用优雅退出（Graceful Leave）功能：
                                - `true`：启用。开启后，调用 [POST 停止对话式智能体](/doc/convoai/restful/convoai/operations/stop-agent)接口，让智能体退出频道时，会确保智能体处于静默状态（`IDLE`）后再离开频道。
                                - `false`：（默认）不启用。
                              default: false
                            graceful_timeout_seconds:
                              type: integer
                              description: 优雅退出超时时间 (s)，表示在退出频道前等待智能体进入静默状态（`IDLE`）的最长时间，超出该时间后，即便智能体不处于静默状态，也会立即退出频道。该字段仅在 `graceful_enabled` 为 `true` 时生效，取值范围为 [0,120]。
                              default: 30
                        data_channel:
                          type: string
                          
                          description: "智能体数据传输通道，可选以下值：\r\n- `rtm`：使用 RTM 传输。该配置仅在 `advanced_features.enable_rtm` 为 `true` 时生效。 \r\n- `datastream`：（默认）使用 RTC 的 [`DataStream`](https://doc.shengwang.cn/api-ref/rtc/android/API/toc_datastream#callback_irtcengineeventhandler_onstreammessage) 传输。"
                        enable_metrics:
                          type: boolean
                          
                          default: false
                          description: |-
                            是否接收智能体性能数据：
                            - `true`：接收。
                            - `false`：（默认）不接收。
                            
                            该配置仅在 `advanced_features.enable_rtm` 为 `true` 时生效。你可以参考[监听智能体事件](/doc/convoai/restful/user-guides/listen-agent-events)了解如何使用客户端组件接收智能体性能数据，或参考[接收 Webhook 事件](/doc/convoai/restful/webhook/enable-ncs)了解如何使用 Webhook 接收智能体性能数据。
                        enable_error_message:
                          type: boolean
                          default: false
                          description: |-
                            是否接收智能体错误事件：
                            - `true`：接收。
                            - `false`：（默认）不接收。
                            
                            该配置仅在 `advanced_features.enable_rtm` 为 `true` 时生效。你可以参考[监听智能体事件](/doc/convoai/restful/user-guides/listen-agent-events)了解如何使用客户端组件接收智能体错误事件。
                        # ifttt:
                        #   type: object
                        #   description: |-
                        #     IFTTT (If This Then That) 自动化触发配置，用于根据智能体的状态自动执行特定操作。
                            
                        #     通过配置触发条件（如智能体处于特定状态持续一定时间），系统可以自动调用 MCP 服务器提供的工具，实现自动挂断、自动留言、状态转换等自动化流程。
                        #   properties:
                        #     jobs:
                        #       type: array
                        #       description: 自动化任务列表，每个任务定义一个触发条件和对应的执行动作。
                        #       items:
                        #         type: object
                        #         properties:
                        #           state:
                        #             type: string
                        #             description: |-
                        #               触发条件的状态匹配规则。支持以下格式：
                        #               - `"state_name"`：智能体处于指定状态时触发。
                        #               - `"!state_name"`：智能体不处于指定状态时触发（使用 `!` 前缀表示否定）。
                                      
                        #               常见状态包括：`listening`（倾听中）、`thinking`（思考中）、`speaking`（说话中）、`idle`（空闲）等。
                        #           duration_ms:
                        #             type: integer
                        #             description: 状态持续时间阈值 (ms)。当智能体持续处于指定状态达到该时间后，触发执行动作。
                        #           tool:
                        #             type: string
                        #             description: 要调用的工具名称，该工具必须在 `mcp_servers` 配置的 `allowed_tools` 列表中。
                        #           from:
                        #             type: string
                        #             description: 工具所属的 MCP 服务器引用，格式为 `"mcp_servers/{server_name}"`，其中 `{server_name}` 是 `mcp_servers` 中定义的服务器名称。
                        #           args:
                        #             type: object
                        #             description: 调用工具时传递的参数，具体参数结构取决于工具的定义。
                        #             additionalProperties: true
            examples:
              Defalut:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: '0'
                    remote_rtc_uids:
                      - '*'
                    enable_string_uid: false
                    idle_timeout: 120
                    advanced_features:
                      enable_aivad: true
                    llm:
                      url: 'https://api.minimax.chat/v2/text/chatcompletion_v2'
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: You are a helpful chatbot.
                      greeting_message: 您好，有什么可以帮您？
                      failure_message: 抱歉，我无法回答这个问题。
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
                        userName: Tomas
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: minimax
                      skip_patterns: [1]
                      params:
                        group_id: xxxx
                        key: xxxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
              使用 String uid:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: friday
                    remote_rtc_uids:
                      - '*'
                    enable_string_uid: true
                    idle_timeout: 120
                    advanced_features:
                      enable_aivad: true
                    llm:
                      url: 'https://api.minimax.chat/v1/text/chatcompletion_v2'
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: You are a helpful chatbot.
                      greeting_message: 您好，有什么可以帮您？
                      failure_message: 抱歉，我无法回答这个问题。
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_tokens: 1024
                        userName: Tomas
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: tencent
                      skip_patterns: [1, 3]
                      params:
                        group_id: xxx
                        key: xxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
              完整配置示例:
                value:
                  name: full_config_agent
                  properties:
                    channel: full_channel_name
                    token: full_token_value
                    agent_rtc_uid: '12345'
                    remote_rtc_uids:
                      - '67890'
                    enable_string_uid: false
                    idle_timeout: 180
                    silence_timeout: 30
                    advanced_features:
                      enable_aivad: true
                      enable_rtm: true
                      enable_sal: true
                    asr:
                      language: zh-CN
                      vendor: microsoft
                      params:
                        key: your_microsoft_key
                        region: chinaeast2
                        language: zh-CN
                        phrase_list:
                          - agora
                          - fengming
                    tts:
                      vendor: microsoft
                      skip_patterns: [1, 2]
                      params:
                        key: your_microsoft_key
                        region: chinaeast2
                        voice_name: zh-CN-YunxiNeural
                        speed: 1.0
                        volume: 70
                        sample_rate: 24000
                    llm:
                      url: 'https://api.openai.com/v1/chat/completions'
                      api_key: your_openai_api_key
                      system_messages:
                        - role: system
                          content: 'You are a professional AI assistant. User name is {{user_name}}.'
                      greeting_message: '您好{{user_name}}，我是您的智能助手，有什么可以帮您？'
                      greeting_configs:
                        mode: single_every
                      failure_message: 抱歉，系统出现问题，请稍后再试。
                      max_history: 64
                      input_modalities:
                        - text
                        - image
                      output_modalities:
                        - text
                      vendor: custom
                      params:
                        model: gpt-4o
                        temperature: 0.8
                        max_tokens: 2048
                        stream: true
                      template_variables:
                        user_name: 张三
                        company_name: 声网科技
                    avatar:
                      enable: true
                      vendor: sensetime
                      params:
                        agora_token: avatar_token
                        agora_uid: '99999'
                        appId: sensetime_app_id
                        app_key: sensetime_app_key
                        sceneList:
                          - digital_role:
                              face_feature_id: face_feature_id_001
                              position:
                                x: 0
                                y: 0
                              url: 'https://example.com/avatar_model.zip'
                    turn_detection:
                      mode: default
                      config:
                        speech_threshold: 0.5
                        start_of_speech:
                          mode: vad
                          vad_config:
                            interrupt_duration_ms: 160
                            speaking_interrupt_duration_ms: 320
                            prefix_padding_ms: 800
                        end_of_speech:
                          mode: semantic
                          semantic_config:
                            silence_duration_ms: 320
                            max_wait_ms: 3000
                    sal:
                      sal_mode: locking
                      sample_urls:
                        speaker1: 'https://example.com/voiceprint1.pcm'
                    labels:
                      campaign_id: spring_2025
                      customer_group: vip
                      region: east_china
                    rtc:
                      encryption_key: your_32_byte_encryption_key_here
                      encryption_salt: TsP4fLLyxxxxxxxxxroLA9oE=
                      encryption_mode: 8
                    filler_words:
                      enable: true
                      trigger:
                        mode: fixed_time
                        config:
                          response_wait_ms: 1500
                      content:
                        mode: static
                        config:
                          phrases:
                            - 请稍等。
                            - 好的。
                            - 嗯嗯。
                          selection_rule: shuffle
                    parameters:
                      silence_config:
                        timeout_ms: 15000
                        action: think
                        content: 用户长时间未响应，请主动询问是否需要继续服务。
                      farewell_config:
                        graceful_enabled: true
                        graceful_timeout_seconds: 60
                      data_channel: rtm
                      enable_metrics: true
                      enable_error_message: true
              接入 MCP:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: '0'
                    remote_rtc_uids:
                      - '*'
                    idle_timeout: 120
                    advanced_features:
                      enable_aivad: true
                    llm:
                      url: 'https://api.minimax.chat/v2/text/chatcompletion_v2'
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: 'You are a helpful assistant. User name is {{user_name}}, and their account ID is {{account_id}}.'
                      greeting_message: '您好 {{user_name}}，有什么可以帮您？'
                      failure_message: '抱歉 {{user_name}}，我无法回答这个问题。请稍后再试。'
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
                      template_variables:
                        user_name: '张三'
                        account_id: 'ACC123456'
                        silent_prompt: '用户长时间未响应，请询问是否需要继续服务。'
                      mcp_servers:
                        - name: mcpserver
                          endpoint: 'https://registry.run.mcp.com.ai/mcp'
                          transport: streamable_http
                          headers:
                            Authentication: 'Basic xxxx'
                          allowed_tools:
                            - getV01Servers
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: minimax
                      skip_patterns: [1]
                      params:
                        group_id: xxxx
                        key: xxxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
                    parameters:
                      silence_config:
                        timeout_ms: 10000
                        action: think
                        content: '{{silent_prompt}}'
                      # ifttt:
                      #   jobs:
                      #     - state: '!listening'
                      #       duration_ms: 60000
                      #       tool: sip-hangup
                      #       from: mcp_servers/sip_manager
                      #       args:
                      #         reason: silence
              # 使用关键词打断模式:
              #   value:
              #     name: turn_detection_keywords_agent
              #     properties:
              #       channel: channel_name
              #       token: token
              #       agent_rtc_uid: '0'
              #       remote_rtc_uids:
              #         - '*'
              #       idle_timeout: 120
              #       turn_detection:
              #         mode: default
              #         config:
              #           speech_threshold: 0.5
              #           start_of_speech:
              #             mode: keywords
              #             keywords_config:
              #               interrupt_duration_ms: 160
              #               prefix_padding_ms: 800
              #               triggered_keywords:
              #                 - 你好
              #                 - 在吗
              #                 - hello
              #           end_of_speech:
              #             mode: vad
              #             vad_config:
              #               silence_duration_ms: 640
              #       llm:
              #         url: 'https://api.minimax.chat/v2/text/chatcompletion_v2'
              #         api_key: xxx
              #         system_messages:
              #           - role: system
              #             content: You are a helpful chatbot.
              #         greeting_message: 您好，有什么可以帮您？
              #         max_history: 32
              #         params:
              #           model: abab6.5s-chat
              #           max_token: 1024
              #       asr:
              #         language: zh-CN
              #         vendor: fengming
              #       tts:
              #         vendor: minimax
              #         params:
              #           group_id: xxxx
              #           key: xxxx
              #           model: speech-01-turbo
              #           voice_setting:
              #             voice_id: female-shaonv
              #             speed: 1
              #             vol: 1
              #             pitch: 0
              #           audio_setting:
              #             sample_rate: 16000
              # 使用垫词功能:
              #   value:
              #     name: filler_demo_agent
              #     properties:
              #       channel: channel_name
              #       token: token
              #       agent_rtc_uid: '0'
              #       remote_rtc_uids:
              #         - '*'
              #       idle_timeout: 120
              #       advanced_features:
              #         enable_aivad: true
              #       llm:
              #         url: 'https://api.minimax.chat/v2/text/chatcompletion_v2'
              #         api_key: xxx
              #         system_messages:
              #           - role: system
              #             content: You are a helpful chatbot.
              #         greeting_message: 您好，有什么可以帮您？
              #         failure_message: 抱歉，我无法回答这个问题。
              #         max_history: 32
              #         params:
              #           model: abab6.5s-chat
              #           max_token: 1024
              #         filler_words:
              #           enable: true
              #           trigger:
              #             mode: fixed_time
              #             config:
              #               response_wait_ms: 1500
              #           content:
              #             mode: static
              #             config:
              #               phrases:
              #                 - 请稍等。
              #                 - 好的。
              #                 - 嗯嗯。
              #               selection_rule: shuffle
              #       asr:
              #         language: zh-CN
              #         vendor: fengming
              #       tts:
              #         vendor: minimax
              #         skip_patterns: [1]
              #         params:
              #           group_id: xxxx
              #           key: xxxx
              #           model: speech-01-turbo
              #           voice_setting:
              #             voice_id: female-shaonv
              #             speed: 1
              #             vol: 1
              #             pitch: 0
              #             emotion: happy
              #           audio_setting:
              #             sample_rate: 16000
      responses:
        '200':
          $ref: '#/components/responses/200'
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
      security:
        - Basic Auth: []
  '/v2/projects/{appid}/agents/{agentId}/leave':
    post:
      # tags:
      #   - 智能体管理
      summary: 停止对话式智能体
      description: 停止指定的对话式智能体实例，并让智能体退出 RTC 频道。
      operationId: stop-agent
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/agentId'
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体为空。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](https://doc.shengwang.cn/doc/convoai/restful/api/response-code)了解可能的原因。"
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
      security:
        - Basic Auth: []
  '/v2/projects/{appid}/agents/{agentId}/update':
    post:
      # tags:
      #   - 智能体管理
      summary: 更新智能体配置
      description: 更新指定运行中智能体的部分参数配置。
      operationId: agent-update
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/agentId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  token: 007eJxTYxxxQ4vkFB
              properties:
                properties:
                  type: object
                  properties:
                    token:
                      type: string
                      description: '用于鉴权的动态密钥（Token）。如果你的项目已启用 App 证书，则务必在该字段中传入你项目的动态密钥。详见[使用 Token 鉴权](https://doc.shengwang.cn/doc/rtc/android/basic-features/token-authentication)。'
                    llm:
                      type: object
                      description: 大语言模型 (LLM) 设置。
                      properties:
                        system_messages:
                          type: array
                          
                          description: 一组每次调用 LLM 时被附加在最前的预定义信息，用于控制 LLM 输出。可以是角色设定、提示词和回答样例等。要求与 OpenAI 协议兼容。
                          items:
                            type: object
                            additionalProperties: {}
                        params:
                          type: object
                          
                          description: "在消息体内传输的 LLM 附加信息，例如使用的模型、最大 Token 数限制等。不同的 LLM 供应商支持的配置不同，请参考对应文档按需填入。\r\n> 该字段更新后将覆盖智能体创建时的配置。更新时，请确保传入完整的 `params` 字段。"
                          additionalProperties: {}
            examples:
              Example 1:
                value:
                  properties:
                    token: 007eJxTYxxxxxxxxxxIaHMLAAAA0ex66
                    llm:
                      system_messages:
                        - role: system
                          content: You are a helpful assistant. xxx
                        - role: system
                          content: 'Previously, user has talked about their favorite hobbies with some key topics: xxx'
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
        description: ''
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](https://doc.shengwang.cn/doc/convoai/restful/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    agent id: 1NT29XOXFT4Jxxxx410TXRCFG10HI00
                    create ts: 173836896
                    state: RUNNING
                properties:
                  agent_id:
                    type: string
                    description: 智能体唯一标识符。
                  create_ts:
                    type: integer
                    description: 智能体创建时间戳。
                  state:
                    type: string
                    description: "智能体运行状态：\r\n- `IDLE` (0)：空闲状态的智能体。\r\n- `STARTING` (1)：正在启动的智能体。\r\n- `RUNNING` (2)：正在运行的智能体。\r\n- `STOPPING` (3)：正在停止的智能体。\r\n- `STOPPED` (4)：已完成退出的智能体。\r\n- `RECOVERING` (5)：正在恢复的智能体。\r\n- `FAILED` (6)：执行失败的智能体。"
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XOXFT4Jxxxx410TXRCFG10HI00
                    create_ts: 173836896
                    state: RUNNING
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
      security:
        - Basic Auth: []
  '/v2/projects/{appid}/agents/{agentId}':
    get:
      # tags:
      #   - 智能体管理
      summary: 查询智能体状态
      description: 查询指定智能体实例的当前运行状态。
      operationId: query-agent-status
      parameters:
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/agentId'
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](https://doc.shengwang.cn/doc/convoai/restful/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    message: 'agent exits with reason: xxxx'
                    start_ts: 1735035893
                    stop_ts: 1735035900
                    status: FAILED
                    agent_id: 1NT29X1xxxxZNU80BEIN56XF
                properties:
                  message:
                    type: string
                    description: 请求信息。
                  start_ts:
                    type: integer
                    description: 智能体创建时间戳。
                  stop_ts:
                    type: integer
                    description: 智能体停止时间戳。
                  status:
                    type: string
                    description: "智能体运行状态：\r\n- `IDLE` (0)：空闲状态的智能体。\r\n- `STARTING` (1)：正在启动的智能体。\r\n- `RUNNING` (2)：正在运行的智能体。\r\n- `STOPPING` (3)：正在停止的智能体。\r\n- `STOPPED` (4)：已完成退出的智能体。\r\n- `RECOVERING` (5)：正在恢复的智能体。\r\n- `FAILED` (6)：执行失败的智能体。"
                  agent_id:
                    type: string
                    description: 智能体唯一标识。
              examples:
                Example 1:
                  value:
                    message: 'agent exits with reason: xxxx'
                    start_ts: 1735035893
                    stop_ts: 1735035900
                    status: FAILED
                    agent_id: 1NT29X11GQSxxxxxNU80BEIN56XF
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
      security:
        - Basic Auth: []
  '/v2/projects/{appid}/agents':
    get:
      # tags:
      #   - 智能体管理
      summary: 获取智能体列表
      description: 检索符合指定条件的智能体列表。
      operationId: get-agent-list
      parameters:
        - $ref: '#/components/parameters/appid'
        - name: channel
          in: query
          description: 查询指定频道名下的智能体列表。
          schema:
            type: string
            examples:
              - TEST
        - name: from_time
          in: query
          description: 查询列表开始时间戳 (s)，默认为 1 天前。
          schema:
            type: integer
            examples:
              - 1733013296
        - name: to_time
          in: query
          description: 查询列表结束时间戳 (s)，默认为当前时刻。
          schema:
            type: integer
            examples:
              - 1734016896
        - name: state
          in: query
          description: 指定需要查询智能体的状态，单次查询不支持指定多种状态：<li>`IDLE` (0)：空闲状态的智能体。</li><li>`STARTING` (1)：正在启动的智能体。</li><li>`RUNNING` (2)：正在运行的智能体。</li><li>`STOPPING` (3)：正在停止的智能体。</li><li>`STOPPED` (4)：已完成退出的智能体。</li><li>`RECOVERING` (5)：正在恢复的智能体。</li><li>`FAILED` (6)：执行失败的智能体。</li>
          schema:
            type: string
            default: '2'
            examples:
              - '1'
        - name: limit
          in: query
          description: 分页获取单次返回的最大条数。
          schema:
            type: integer
            default: 20
            examples:
              - 20
        - name: cursor
          in: query
          description: 分页游标，即分页起始位置的 `agent_id`。
          schema:
            type: string
            examples:
              - agent_id
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](https://doc.shengwang.cn/doc/convoai/restful/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: 本次返回的智能体数量。
                      list:
                        type: array
                        description: 满足条件的智能体列表。
                        items:
                          type: object
                          properties:
                            start_ts:
                              type: integer
                              description: 智能体创建时间戳。
                            status:
                              type: string
                              description: "智能体运行状态：\r\n- `IDLE` (0)：空闲状态的智能体。\r\n- `STARTING` (1)：正在启动的智能体。\r\n- `RUNNING` (2)：正在运行的智能体。\r\n- `STOPPING` (3)：正在停止的智能体。\r\n- `STOPPED` (4)：已完成退出的智能体。\r\n- `RECOVERING` (5)：正在恢复的智能体。\r\n- `FAILED` (6)：执行失败的智能体。"
                            agent_id:
                              type: string
                              description: 智能体唯一标识。
                  meta:
                    type: object
                    description: 返回列表的元信息。
                    properties:
                      cursor:
                        type: string
                        description: 分页游标。
                      total:
                        type: integer
                        description: 满足本次查询条件的智能体总数量。
                  status:
                    type: string
                    description: 请求状态。
              examples:
                Example 1:
                  value:
                    data:
                      count: 1
                      list:
                        - start_ts: 1735035893
                          status: RUNNING
                          agent_id: 1NT29X11GQSxxxxx80BEIN56XF
                    meta:
                      cursor: ''
                      total: 1
                    status: ok
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
      security:
        - Basic Auth: []
  '/v2/projects/{appid}/agents/{agentId}/speak':
    parameters:
      - $ref: '#/components/parameters/appid'
      - $ref: '#/components/parameters/agentId'
    post:
      summary: 播报自定义消息
      # tags:
      #   - 智能体管理
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体为智能体信息，智能体开始播报指定内容。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](https://doc.shengwang.cn/doc/convoai/restful/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                    channel: test_channel
                    start_ts: '178444582'
                properties:
                  agent_id:
                    $ref: '#/components/schemas/agent_id'
                  channel:
                    $ref: '#/components/schemas/channel'
                  start_ts:
                    $ref: '#/components/schemas/start_ts'
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XxxxxxxxxELWEHC8OS
                    channel: test_channel
                    start_ts: 1744877089
      operationId: agent-speak
      description: "让指定智能体播报自定义消息。\r\n\r\n与智能体对话期间，调用该接口可以让智能体使用 TTS 模块立刻播报自定义消息。智能体收到请求后，播报行为会打断当前说话和思考流程。"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: 播报的文本内容，最长不超过 512 字节 (bytes)。
                priority:
                  $ref: '#/components/schemas/priority'
                interruptable:
                  type: boolean
                  description: "是否允许用户说话打断智能体播报：\r\n- `true`：（默认）允许。\r\n- `false`：不允许。"
                  default: true
            examples:
              Example 1:
                value:
                  text: 抱歉，对话内容不符合规范。
                  priority: INTERRUPT
                  interruptable: false
  '/v2/projects/{appid}/agents/{agentId}/interrupt':
    parameters:
      - $ref: '#/components/parameters/appid'
      - $ref: '#/components/parameters/agentId'
    post:
      summary: 打断智能体
      # tags:
      #   - 智能体管理
      responses:
        default:
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体为智能体信息，智能体开始播报指定内容。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](https://doc.shengwang.cn/doc/convoai/restful/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    $ref: '#/components/schemas/agent_id'
                  channel:
                    $ref: '#/components/schemas/channel'
                  start_ts:
                    $ref: '#/components/schemas/start_ts'
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XxxxxxxxxELWEHC8OS
                    channel: test_channel
                    start_ts: 1744877089
      operationId: agent-interrupt
      description: 打断指定智能体说话或思考。
      requestBody:
        description: 请求包体为空。
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              Example 1:
                value: {}
  '/v2/projects/{appid}/agents/{agentId}/history':
    parameters:
      - $ref: '#/components/parameters/appid'
      - $ref: '#/components/parameters/agentId'
    get:
      # tags:
      #   - 智能体管理
      summary: 获取智能体短期记忆
      responses:
        default:
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](https://doc.shengwang.cn/doc/convoai/restful/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    agent_id: xxxx
                    start_ts: 123
                    end_ts: 144
                    status: STOPPED
                    contents:
                      - role: user
                        content: hello.
                      - role: assistant
                        content: 'hi, how can I help you?'
                    # tool_calls:
                    #   - index: 0
                    #     type: function
                    #     id: call_u9oldpnqdxxxxxxaqdkaqjzq
                    #     function:
                    #       name: _publish_message
                    #       arguments: '{"content": "你好"}'
                    # - role: tool
                    #   content: '{"result": "ok"}'
                    # tool_call_id: call_u9oldpnqdxxxxxxaqdkaqjzq
                properties:
                  agent_id:
                    type: string
                    description: 智能体唯一标识。
                  start_ts:
                    type: integer
                    description: 智能体创建时间戳。
                  status:
                    type: string
                    description: 智能体运行状态。仅支持查询状态为 `RUNNING` (2)，即正在运行的智能体。
                  contents:
                    type: array
                    description: 智能体短期记忆。
                    items:
                      type: object
                      properties:
                        role:
                          type: string
                          description: "消息发送者。可能为以下值：\r\n- `user`：用户。\r\n- `assistant`：智能体。"
                        content:
                          type: string
                          description: 消息内容。
              #           tool_calls:
              #             type: array
              #             description: 工具调用信息。仅在 `role` 为 `assistant`，且本次消息触发了工具调用时返回。包含以下字段：
              #             items:
              #               type: object
              #               properties:
              #                 index:
              #                   type: integer
              #                   description: 工具调用索引。
              #                 type:
              #                   type: string
              #                   description: 工具调用类型。当前仅支持 `function`，即函数调用。
              #                 id:
              #                   type: string
              #                   description: 工具调用 ID。每次调用工具会为当前调用请求生成唯一的 ID。
              #                 function:
              #                   type: object
              #                   description: 函数调用信息。
              #                   properties:
              #                     name:
              #                       type: string
              #                       description: "函数名称。当前支持：\r\n-  `_publish_message`：向端侧发布消息。"
              #                     arguments:
              #                       type: string
              #                       description: 函数参数。
              #           tool_call_id:
              #             type: string
              #             description: 工具调用 ID。仅当 `role` 为 `tool` 时返回，对应 `content` 中反应了本次工具调用的结果。
              examples:
                Example 1:
                  value:
                    agent_id: xxxx
                    start_ts: 123
                    status: RUNNING
                    contents:
                      - role: user
                        content: hello.
                      - role: assistant
                        content: 'hi, how can I help you?'
                    #           tool_calls:
                    #             - index: 0
                    #               type: function
                    #               id: call_u9oldpnqdxxxxxxaqdkaqjzq
                    #               function:
                    #                 name: _publish_message
                    #                 arguments: '{"content": "你好"}'
                    #         - role: tool
                    #           content: '{"result": "ok"}'
                    #           tool_call_id: call_u9oldpnqdxxxxxxaqdkaqjzq
      operationId: get-history
      description: "获取用户和智能体对话的短期记忆。\r\n你可以在智能体运行期间 (`RUNNING`) 调用该 API 获取智能体创建到现在储存的短期记忆信息，包括：\r\n- 智能体创建和停止的时间戳\r\n- 用户和智能体对话消息"
components:
  parameters:
    appid:
      name: appid
      in: path
      description: '你的项目使用的 [App ID](http://doc.shengwang.cn/doc/convoai/restful/get-started/enable-service#%E8%8E%B7%E5%8F%96-app-id)。'
      required: true
      schema:
        type: string
    agentId:
      name: agentId
      in: path
      description: '智能体实例 ID，即智能体的唯一标识。调用 [POST 创建对话式智能体](https://doc.shengwang.cn/doc/convoai/restful/convoai/operations/start-agent) 成功后在响应包体中获取。'
      required: true
      schema:
        type: string
    phone_number:
      name: phone_number
      in: path
      description: E.164 格式的电话号码（如：+11234567890），作为唯一标识符。
      required: true
      schema:
        type: string
  responses:
    '200':
      description: |-
        - 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。
        - 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](https://doc.shengwang.cn/doc/convoai/restful/api/response-code)了解可能的原因。
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                create_ts: 1737111452
                state: RUNNING
            properties:
              agent_id:
                $ref: '#/components/schemas/agent_id'
                description: 智能体唯一标识。
              create_ts:
                $ref: '#/components/schemas/start_ts'
                description: 智能体创建时间戳。
              status:
                type: string
                description: "智能体运行状态：\r\n- `IDLE` (0)：空闲状态的智能体。\r\n- `STARTING` (1)：正在启动的智能体。\r\n- `RUNNING` (2)：正在运行的智能体。\r\n- `STOPPING` (3)：正在停止的智能体。\r\n- `STOPPED` (4)：已完成退出的智能体。\r\n- `RECOVERING` (5)：正在恢复的智能体。\r\n- `FAILED` (6)：执行失败的智能体。"
          examples:
            Example 1:
              value:
                agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                create_ts: 1737111452
                status: RUNNING
    phone_number_error:
      description: |
        若返回的 HTTP 状态码不为成功状态码，则表示请求失败。响应包体将包含一个 JSON 对象，其中包含错误的类型和描述。
        
        **可能的状态码及原因:**
        
        - 401 `unauthorized`：认证失败，请检查您的凭证。
        - 404 `not_found`：未找到指定的电话号码。
        - 409 `phone_number_exists`：电话号码已存在，不允许重复导入。
        - 409 `conflict`：并发修改冲突或资源被锁定。
        - 422 `unprocessable_content`：请求格式错误或参数校验失败。
        - 500 `internal_server_error`：服务器内部错误。
      content:
        application/json:
          schema:
            type: object
            properties:
              error_type:
                type: string
                description: 错误类型。
              description:
                type: string
                description: 错误描述。
          examples:
            Example 1:
              value:
                error_type: "unauthorized"
                description: "认证失败，请检查您的凭证。"
    outbound_call_error:
      description: |
        若返回的 HTTP 状态码不为 200，则表示请求失败。响应包体将包含一个 JSON 对象，其中包含错误的类型和描述。
        
        **可能的状态码及原因:**
        
        - 400 `invalid_phone_format`：电话号码格式无效（非 E.164 格式）。
        - 401 `unauthorized`：认证失败，请检查您的凭证。
        - 500 `internal_server_error`：服务器内部错误。
      content:
        application/json:
          schema:
            type: object
            properties:
              error_type:
                type: string
                description: 错误类型。
              description:
                type: string
                description: 错误描述。
          examples:
            Example 1:
              value:
                error_type: "invalid_phone_format"
                description: "电话号码格式无效（非E.164格式）。"
  schemas:
    voice_id:
      type: string
      title: voice_id
      description: '智能体音色 ID，支持的音色 ID 详见[音色 ID 表](https://doc.shengwang.cn/doc/convoai/doc/convoai/restful/api/voice-ids)。'
    max_history:
      type: integer
      description: LLM 中缓存的短期记忆条目数。取值范围为 `[1,1024]`。短期记忆包括用户和智能体对话消息、工具调用信息和时间戳。智能体和用户会单独记录短期记忆条目。
      default: 32
    tts_params:
      title: params
      description: |-
        TTS 配置参数。不同 TTS 供应商下该参数结构不同。
        > 各供应商示例代码中未提及的参数，声网对话式 AI 引擎不保证完全支持。
      oneOf:
        - $ref: '#/components/schemas/tts_minimax'
        - $ref: '#/components/schemas/tts_tencent'
        - $ref: '#/components/schemas/tts_bytedance'
        - $ref: '#/components/schemas/tts_microsoft'
        - $ref: '#/components/schemas/tts_cosyvoice'
        - $ref: '#/components/schemas/tts_duplex'
        - $ref: '#/components/schemas/tts_stepfun'
    tts_minimax:
      title: Minimax
      type: object
      additionalProperties: {}
      description: |-
        Minimax TTS，具体协议详见 [Minimax 官方文档](https://platform.minimaxi.com/document/T2A%20V2)。以下为示例：
        ```json
        "params": {
            "group_id": "xxxx",
            "key": "xxxx",
            "model": "speech-01-turbo",
            "voice_setting": {
                "voice_id": "female-shaonv",
                "speed": 1,
                "vol": 1,
                "pitch": 0,
                "emotion": "happy",
                "latex_read": True,
                "english_normalization": True,
            },
            "audio_setting": {
                "sample_rate": 16000
            },
            "pronunciation_dict": {
                "tone": ["这是/(zei3)(si4)", "消息/(xiao3)(xi4)"]
            },
            # voice_id和timber_weights二选一必填
            # "timber_weights": [{
            #     "voice_id": "male-qn-qingse",
            #     "weight": 1
            # },
            # {
            #     "voice_id": "female-shaonv",
            #     "weight": 5
            # }],
            "language_boost": "auto"
        }
        ```
    tts_tencent:
      title: Tencent
      type: object
      additionalProperties: {}
      description: |-
        腾讯云 TTS，具体协议详见[腾讯云官方文档](https://cloud.tencent.com/document/product/1073/94308)。以下为示例：
        ```json
        "params": {
            "app_id": "xxxx",
            "secret_id": "xxxx",
            "secret_key": "xxxx",
            "voice_type": 601005,
            "volume": 0,
            "speed": 0,
            "emotion_category": "happy",
            "emotion_intensity": 100
        }
        ```
    tts_bytedance:
      title: Bytedance
      type: object
      description: |-
        火山 TTS，具体协议详见[火山引擎官方文档](https://www.volcengine.com/docs/6561/79823)。以下为示例：
        ```json
        "params": {
            "token": "xxxxx",
            "app_id": "xxxx",
            "cluster": "volcano_tts",
            "voice_type": "BV700_streaming",
            "speed_ratio": 1.0,
            "volume_ratio": 1.0,
            "pitch_ratio": 1.0,
            "emotion": "happy"
        }
        ```
      additionalProperties: {}
    tts_cosyvoice:
      title: CosyVoice
      type: object
      additionalProperties: {}
      description: |-
        阿里云 CosyVoice TTS，具体协议详见[阿里云官方文档](https://help.aliyun.com/zh/model-studio/cosyvoice-large-model-for-speech-synthesis/)。以下为示例：
        ```json
        "params": {
          "api_key": "your_cosyvoice_api_key",
          "model": "cosyvoice-v1",
          "sample_rate": 16000,
          "voice": "longxiaochun"
        }
        ```
    tts_duplex:
      title: Bytedance Duplex
      type: object
      additionalProperties: {}
      description: |-
       火山引擎双向流式 TTS，具体协议详见[火山引擎官方文档](https://www.volcengine.com/docs/6561/1329505)。以下为示例：
        ```json
        "params": {
          "app_id": "your_bytedance_tts_app_id",
          "token": "your_bytedance_tts_token",
          "speaker": "zh_female_shuangkuaisisi_moon_bigtts"
        }
        ```
    tts_stepfun:
      title: StepFun
      type: object
      additionalProperties: {}
      description: |-
       阶跃星辰 TTS，具体协议详见[阶跃星辰官方文档](https://platform.stepfun.com/docs/api-reference/audio/ws_audio)。以下为示例：
        ```json
        "params": {
          "api_key": "your_stepfun_tts_key",
          "model": "step-tts-mini",
          "voice_id": "cixingnansheng"
        }
        ```

    priority:
      title: priority
      type: string
      description: |-
        播报行为的优先级，支持设为以下值：
        - `"INTERRUPT"`：（默认）高优先级，打断并播报。智能体会终止当前交互，直接播报消息。
        - `"APPEND"`: 中优先级，追加播报。智能体会在当前交互结束后播报消息。
        - `"IGNORE"`: 低优先级，空闲时播报。如果此时智能体正在交互，智能体会直接忽略并丢弃要播报的消息；只有智能体不在交互中才会播报消息。
    agent_id:
      title: agent_id
      type: string
      description: 对话式智能体 ID，即智能体唯一标识。
    channel:
      title: channel
      type: string
      description: 智能体所在 RTC 频道名。
    start_ts:
      title: start_ts
      type: integer
      description: 智能体创建时间戳。
    tts_microsoft:
      title: Microsoft
      type: object
      additionalProperties: {}
      description: |-
        微软 Azure TTS。以下为示例和参数说明：
        ```json
        "params": {
            "key": "<your_microsoft_key>",
            "region": "chinaeast2",
            "voice_name": "zh-CN-YunxiNeural",
            "speed": 1.0,
            "volume": 70
        }
        ```
        - `key`：（必需）String。微软 Azure 的 API key。
        - `region`：（必需）String。微软 TTS 服务的区域。
        - `voice_name`：（必需）String。音色。
        - `speed`：（可选）Number。语速。取值范围为 [0.5, 2.0]，默认值为 1.0。用于指示文本的语速。语速可以在单词或句子级别应用。
        - `volume`：（可选）Number。音量。取值范围为 [0.0, 100.0]，默认值为 100。例如，值为 75 表示音量设置为最大音量的 75%。
        - `sample_rate`：（可选）Integer。音频采样率 (Hz)。可选取值为 [16000, 24000, 48000]，默认值为 24000。

        > 更多信息请参考[微软官方文档](https://docs.azure.cn/zh-cn/ai-services/speech-service/)。
    asr_params:
      title: params
      description: |-
        ASR 配置参数。不同 ASR 供应商下该参数结构不同。
        > 各供应商示例代码中未提及的参数，声网对话式 AI 引擎不保证完全支持。
      oneOf:
        - $ref: '#/components/schemas/asr_tencent'
        - $ref: '#/components/schemas/asr_microsoft'
        - $ref: '#/components/schemas/asr_xfyun'
        - $ref: '#/components/schemas/asr_xfyun_bigmodel'
        - $ref: '#/components/schemas/asr_xfyun_dialect'
    asr_tencent:
      title: Tencent
      type: object
      additionalProperties: {}
      description: |-
        腾讯云 ASR，具体协议详见[腾讯云官方文档](https://cloud.tencent.com/document/product/1093/48982)。以下为示例：
        ```json
        "params": {
            "key": secret_key,
            "app_id": app_id,
            "secret": secret,
            "engine_model_type": "16k_zh",
            "voice_id": "TBgVFCsxdn3i2DGt",
        }
        ```
    asr_xfyun:
      title: xfyun
      type: object
      additionalProperties: {}
      description: |-
        讯飞云传统语音转写识别服务，具体协议详见[讯飞官方文档](https://www.xfyun.cn/doc/spark/asr_llm/rtasr_llm.html)。以下为示例：
        ```json
        "params": {
            "api_key": "XFYUN_ASR_API_KEY",
            "app_id": "XFYUN_ASR_APP_ID",
            "api_secret": "XFYUN_ASR_API_SECRET",
            "language": "zh_cn"
        }
        ```
    asr_xfyun_bigmodel:
      title: xfyun_bigmodel
      type: object
      additionalProperties: {}
      description: |-
        讯飞云语音识别大模型服务，具体协议详见[讯飞官方文档](https://www.xfyun.cn/doc/spark/asr_llm/rtasr_llm.html)。以下为示例：
        ```json
        "params": {
            "api_key": "XFYUN_ASR_BIGMODEL_API_KEY",
            "app_id": "XFYUN_ASR_BIGMODEL_APP_ID",
            "api_secret": "XFYUN_ASR_BIGMODEL_API_SECRET",
            "language_name": "cn",
            "language":"mix"
        }
        ```
    asr_xfyun_dialect:
      title: xfyun_dialect
      type: object
      additionalProperties: {}
      description: |-
        讯飞云方言自由说识别服务，具体协议详见[讯飞官方文档](https://www.xfyun.cn/doc/spark/asr_llm/rtasr_llm.html)。以下为示例：
        ```json
        "params": {
            "app_id": "XFYUN_ASR_DIALOG_APP_ID",
            "access_key_id": "XFYUN_ASR_DIALOG_ACCESS_KEY_ID",
            "access_key_secret":"XFYUN_ASR_DIALOG_ACCESS_KEY_SECRET",
            "language": "zh-CN"
        }
        ```
    asr_microsoft:
      title: Microsoft
      type: object
      additionalProperties: {}
      description: |-
        微软 ASR。以下为示例：
        ```json
        "params": {
            "key": "<your_microsoft_key>",
            "region": "chinaeast2",
            "language": "zh-CN",
            "phrase_list": ["agora", "fengming"],
        }
        ```
        - `key`：（必需）String。微软 ASR 服务的 API key。
        - `region`：（必需）String。微软 ASR 服务的区域。详见[支持的区域](https://learn.microsoft.com/en-us/azure/ai-services/speech-service/language-support?tabs=stt)。
        - `language`：（必需）String。语言。详见[支持的语言](https://learn.microsoft.com/en-us/azure/ai-services/speech-service/language-support?tabs=stt)。
        - `phrase_list`：（可选）Array[String]。热词列表。
    avatar_params:
      title: params
      description: |-
        数字人配置参数。不同数字人供应商下该参数结构不同。
        > 各供应商示例代码中未提及的参数，声网对话式 AI 引擎不保证完全支持。
      oneOf:
        - $ref: '#/components/schemas/avatar_sensetime'
    avatar_sensetime:
      title: Sensetime
      type: object
      additionalProperties: {}
      description: |-
        商汤数字人配置参数，具体协议详见[商汤官方文档](https://aigc.softsugar.com/html/help/5-%E7%9B%B4%E6%92%AD.html#%E7%9B%B4%E6%92%AD%E8%84%9A%E6%9C%ACjson%E5%AE%9A%E4%B9%89%E8%AF%B4%E6%98%8E)。以下为示例：
        ```json
        "params": {
            "agora_token": "agora_token",
            "agora_uid": "agora_uid",
            "appId": "sensetime_app_id",
            "app_key": "sensetime_app_key",
            "sceneList": [
                {
                    "digital_role": {
                        "face_feature_id": "face_feature_id",
                        "position": {"x": 0, "y": 0},
                        "url": "https://example-digital-human-models/avatar_id.zip"
                    }
                }
            ]
        }
        ```
        > - 以下商汤数字人配置字段当前不支持在 `params` 中透传：`tts_config`、`tts_query`、`audios`、`quick_response`、`quick_response_preload_list`、`opening_words`。
        > - `agora_uid` 必须为大小不超过 32 位(`0` 到 `2^32-1`))的纯数字字符串，例如 `"1234"`。
    filler_words_trigger_config:
      title: config
      description: |-
        垫词触发配置参数。不同触发模式下该参数名称和结构不同。
        > - 传入的配置类型需要和 `mode` 相匹配。例如 `mode` 为 `"fixed_time"` 时，需传入 `fixed_time_config` 对应的配置。
        > - 不可同时传入多个模式配置。
      oneOf:
        - $ref: '#/components/schemas/filler_words_trigger_fixed_time_config'
        # - $ref: '#/components/schemas/filler_words_trigger_semantic_config'
    filler_words_trigger_fixed_time_config:
      title: fixed_time_config
      type: object
      description: |-
        固定时间触发配置。以下为示例：
        ```json
        "config": {
            "response_wait_ms": 1500
        }
        ```
      properties:
        response_wait_ms:
          type: integer
          description: LLM 响应等待阈值 (ms)，取值范围为 [100, 10000]。当 LLM 处于等待状态（例如等待 RAG 检索结果、工具调用结果）的持续时间达到该阈值且未生成响应内容时，触发垫词播报。
          default: 1500
    # filler_words_trigger_semantic_config:
    #   title: semantic_config
    #   type: object
    #   description: |-
    #     语义触发配置（未来支持）。以下为示例：
    #     ```json
    #     "config": {
    #     }
    #     ```
    #   properties: {}
    filler_words_content_config:
      title: config
      description: |-
        垫词内容配置参数。不同内容模式下该参数名称和结构不同。
        > - 传入的配置类型需要和 `mode` 相匹配。例如 `mode` 为 `"static"` 时，需传入 `static_config` 对应的配置。
        > - 不可同时传入多个模式配置。
      oneOf:
        - $ref: '#/components/schemas/filler_words_content_static_config'
        # - $ref: '#/components/schemas/filler_words_content_generated_config'
    filler_words_content_static_config:
      title: static_config
      type: object
      description: |-
        静态垫词配置。以下为示例：
        ```json
        "static_config": {
            "phrases": [
                "请稍等。",
                "好的。",
                "嗯嗯。"
            ],
            "selection_rule": "shuffle"
        }
        ```
      properties:
        phrases:
          type: array
          description: |-
            垫词短语列表。
            > - 最多支持 100 个垫词。
            > - 每个垫词长度不超过 50 个中文字符或 50 个英文单词。
          items:
            type: string
          maxItems: 100
        selection_rule:
          type: string
          description: |-
            垫词选择规则，支持以下值：
            - `"shuffle"`：随机打乱。在所有垫词都被使用完一轮前，已使用的垫词不会重复播报；只有所有垫词播报完后，才会重新随机打乱并开始新的一轮。
            - `"round_robin"`：轮询。从垫词列表中顺序选取并播报，所有垫词播报完一轮后，开始新的循环播报。
          enum:
            - shuffle
            - round_robin
          default: shuffle
    # filler_words_content_generated_config:
    #   title: generated_config
    #   type: object
    #   description: |-
    #     动态生成垫词配置（未来支持）。以下为示例：
    #     ```json
    #     "config": {
    #         "llm_provider": "tongyi_qianwen",
    #         "prompt": "生成一个5字以内的简短回应，表示正在处理中",
    #         "fallback_strategy": "none",
    #         "generation_timeout_ms": 2000
    #     }
    #     ```
    #   properties:
    #     llm_provider:
    #       type: string
    #       description: |-
    #         用于生成垫词的 LLM 供应商，支持以下值：
    #         - `"tongyi_qianwen"`：通义千问。
    #         - `"openai"`：OpenAI。
    #     prompt:
    #       type: string
    #       description: 生成垫词的 Prompt 指令。例如："生成一个 5 字以内的简短回应，表示正在处理中"。
    #     fallback_strategy:
    #       type: string
    #       description: |-
    #         生成失败时的降级策略，支持以下值：
    #         - `"none"`：不降级，不播报垫词。
    #       enum:
    #         - none
    #     generation_timeout_ms:
    #       type: integer
    #       description: 生成超时时间 (ms)，取值范围为 [100, 5000]。超时后将根据 `fallback_strategy` 处理。
    #       default: 2000
    #       minimum: 100
    #       maximum: 5000
    start_of_speech_config:
      title: '{mode}_config'
      description: |-
        对话开始检测配置参数。不同检测模式下该参数结构和支持的字段不同。
        你需要根据 `mode` 传入对应的配置字段。例如 `mode` 为 `"vad"` 时，需传入 `vad_config`。不可同时传入多个模式配置。
      oneOf:
        - $ref: '#/components/schemas/start_of_speech_vad_config'
        - $ref: '#/components/schemas/start_of_speech_keywords_config'
        - $ref: '#/components/schemas/start_of_speech_disabled_config'
    start_of_speech_vad_config:
      title: vad_config
      type: object
      description: |-
        基于 VAD 的对话开始检测配置。以下为示例：
        ```json
        "vad_config": {
            "interrupt_duration_ms": 160,
            "speaking_interrupt_duration_ms": 160,
            "prefix_padding_ms": 800,
        }
        ```
      properties:
        interrupt_duration_ms:
          type: integer
          description: 智能体空闲或倾听时的人声持续阈值 (ms)，取值范围为 [120, 1200]。持续检测到人声信号的最小时间长度，避免误打断。
          default: 160
        speaking_interrupt_duration_ms:
          type: integer
          description: 智能体说话时的人声持续阈值 (ms)，取值范围为 [120, 1200]。持续检测到人声信号的最小时间长度，避免误打断。通常设置得比 `interrupt_duration_ms` 更长，以避免智能体说话时被较短人声误打断。
          default: 160
        prefix_padding_ms:
          type: integer
          description: 前缀填充阈值 (ms)，取值范围为 [0, 5000]。开始新的语音片段所需的最短语音持续时间，避免非常短的声音触发语音活动检测。
          default: 800
        # ignored_words:
        #   type: array
        #   description: |-
        #     忽略词列表。使用语义模块识别这些词语，当检测到这些词语时不触发对话开始（例如："嗯嗯"、"好的"、"uh-huh"、"okay"）。
        #     > - 忽略词的识别能力与你所选择的 ASR 供应商有关。
        #     > - 最多支持设置 128 个忽略词。
        #   items:
        #     type: string
        #   maxItems: 128
    start_of_speech_keywords_config:
      title: keywords_config
      type: object
      description: |-
        基于关键词的对话开始检测配置（Beta）。以下为示例：
        ```json
        "keywords_config": {
            "interrupt_duration_ms": 160,
            "prefix_padding_ms": 800,
            "triggered_keywords": ["你好", "在吗", "hello"]
        }
        ```
      properties:
        interrupt_duration_ms:
          type: integer
          description: 人声持续阈值 (ms)，取值范围为 [120, 1200]。持续检测到人声信号的最小时间长度，避免误打断。
          default: 160
        prefix_padding_ms:
          type: integer
          description: 前缀填充阈值 (ms)，取值范围为 [0, 5000]。开始新的语音片段所需的最短语音持续时间，避免非常短的声音触发语音活动检测。
          default: 800
        triggered_keywords:
          type: array
          description: |-
            打断关键词列表，智能体听到列表中的关键词后会打断智能体当前行为。
            > - 关键词的识别能力（例如能否识别多语种词语或方言）与你所选择的 ASR 供应商有关。
            > - 支持设置最多 128 个关键词。
          items:
            type: string
          maxItems: 128
    start_of_speech_semantic_config:
      title: semantic_config
      type: object
      description: |-
        基于语义的对话开始检测配置。以下为示例：
        ```json
        "semantic_config": {
            "interrupt_duration_ms": 160,
            "prefix_padding_ms": 800,
        }
        ```
      properties:
        interrupt_duration_ms:
          type: integer
          description: 人声持续阈值 (ms)，取值范围为 [120, 1200]。持续检测到人声信号的最小时间长度，避免误打断。
          default: 160
        prefix_padding_ms:
          type: integer
          description: 前缀填充阈值 (ms)，取值范围为 [0, 5000]。开始新的语音片段所需的最短语音持续时间，避免非常短的声音触发语音活动检测。
          default: 800
        # ignored_words:
        #   type: array
        #   description: |-
        #     忽略词列表。使用语义模块识别这些词语，当检测到这些词语时不触发对话开始（例如："嗯嗯"、"好的"）。
        #     > - 该字段为可选。若不设置，则只要语义触发就会开始对话。
        #     > - 若设置了该字段，则只有在不匹配忽略词且语义触发的情况下才会开始对话。
        #     > - 忽略词的识别能力与你所选择的 ASR 供应商有关。
        #     > - 最多支持设置 128 个忽略词。
        #   items:
        #     type: string
        #   maxItems: 128
    start_of_speech_disabled_config:
      title: disabled_config
      type: object
      description: |-
        禁用对话开始检测配置。以下为示例：
        ```json
        "disabled_config": {
            "strategy": "append"
        }
        ```
      properties:
        strategy:
          type: string
          description: |-
            智能体交互（说话或思考）时，人声的处理策略，支持以下值：
            - `"append"`：追加模式，人声不打断智能体。智能体会在当前交互结束后处理刚才收到的人声请求。
            - `"ignored"`：忽略模式，智能体忽略人声请求。如果智能体正在说话或思考中途收到人声，智能体会直接忽略并丢弃人声请求，不存入上下文。
          enum:
            - append
            - ignored
    end_of_speech_config:
      title: '{mode}_config'
      description: |-
        对话结束检测配置参数。不同检测模式下该参数结构和支持的字段不同。
        你需要根据 `mode` 传入对应的配置字段。例如 `mode` 为 `"vad"` 时，需传入 `vad_config`。不可同时传入多个模式配置。
      oneOf:
        - $ref: '#/components/schemas/end_of_speech_vad_config'
        - $ref: '#/components/schemas/end_of_speech_semantic_config'
    end_of_speech_vad_config:
      title: vad_config
      type: object
      description: |-
        基于 VAD 的对话结束检测配置。以下为示例：
        ```json
        "vad_config": {
            "silence_duration_ms": 640
        }
        ```
      properties:
        silence_duration_ms:
          type: integer
          description: 静音持续阈值 (ms)，取值范围为 [0, 2000]。语音结束时的最短静音持续时间，确保短暂的停顿不会过早结束语音片段。
          default: 640
    end_of_speech_semantic_config:
      title: semantic_config
      type: object
      description: |-
        基于语义的对话结束检测配置。以下为示例：
        ```json
        "semantic_config": {
            "silence_duration_ms": 320,
            "max_wait_ms": 3000
        }
        ```
      properties:
        silence_duration_ms:
          type: integer
          description: 静音持续阈值 (ms)，取值范围为 [0, 2000]。语音结束时的最短静音持续时间，确保短暂的停顿不会过早结束语音片段。
          default: 320
        max_wait_ms:
          type: integer
          description: 最大等待时间 (ms)，取值范围为 [0, 10000]。等待语义判定的最长时间，超时后将基于当前状态判定对话是否结束。
          default: 3000
    phone_number_object:
      title: phone_number_object
      type: object
      description: 电话号码对象，包含电话号码的详细信息。
      properties:
        provider:
          type: string
          description: |
            号码提供商，可选以下值：
            - `"byo"`：BYO（Bring Your Own）。
            - `"aliyun"`：阿里云。
        phone_number:
          type: string
          description: E.164 格式的电话号码，作为唯一标识符。
        label:
          type: string
          description: 用于标识该号码的标签。
        inbound:
          type: boolean
          description: 号码是否支持内呼。
        outbound:
          type: boolean
          description: 号码是否支持外呼。
        associated_pipeline:
          type: object
          nullable: true
          description: 关联的 pipeline 信息，或为 `null`。
          properties:
            pipeline_id:
              type: string
              description: Pipeline ID。
            pipeline_name:
              type: string
              description: Pipeline 名称。
        inbound_config:
          type: object
          nullable: true
          description: SIP 内呼配置详情，或为 `null`。
        outbound_config:
          type: object
          nullable: true
          description: SIP 外呼配置详情，或为 `null`。
  securitySchemes:
    Basic Auth:
      type: http
      scheme: basic
      description: '发送 HTTP 请求时，你需要通过 Basic HTTP 认证，并将生成的凭证填入 HTTP 请求头部的 `Authorization` 字段。具体生成 `Authorization` 字段的方法请参考[实现 HTTP 安全认证](https://doc.shengwang.cn/doc/convoai/restful/user-guides/http-basic-auth)。'
security:
  - {}
  - Basic Auth: []
